[Unit]
Description=Xbox Controller Testing
After=bluetooth.target network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/GiantMurderTarantula/joystick.py
WorkingDirectory=/home/pi/GiantMurderTarantula
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target